$warning: #FAA755;
$warning-light: #FFF2E4;

$info: #4DC0E0;
$info-light: #EEF9FF;

$primary: #0455BF;
$primary-light: #CEE4F2;

$secondary: #747474;
$secondary-light: #D6D7DC;

$success: #468C51;
$success-light: #C0EBC5;

$danger: #c52331;
$danger-light: #FFDDDA;

$dark: #1F1B28;
$light: #F2F2F2;
